*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #fff;
}
body{
    background-image: url(https://images.unsplash.com/photo-1637946175559-22c4fe13fc54?q=80&w=2160&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}
.heading{
    color: #fff;
}
.game-container{
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    
}
h1{
    margin-top: 80px;
    margin-bottom: 80px;
}
.game-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 350px;
    height: 350px;
    border: 1px solid #fff;
    border-radius: 50%;
}
.game{
    margin: 20px;
}
.game-item span{
    font-size: 2em;
}
.result{
    /* position: absolute; */
    margin: 10px;
    font-size: 24px;
}
.rule-game{
    margin: 30px;
    font-size: 30px;
}
.rule-game a svg{
    width: 100%;
}
.rule-game a{
    text-decoration: none;
    color: rgb(221, 18, 0);
    font-weight: 600;
    
}
#result{
    color: #FFF57E;
    margin: 30px;
}
@media(max-width:1300px) and (min-height:500px) and (max-height:1580px){
    img{
        width: 250px;
        height: 250px;
    }
}
@media (min-width:800px) and (max-width:1000px) and (max-height:1500px){
    .game-container{
        display: flex;
        flex-direction: column;
    }
    img{
        width: 200px;
        height: 200px;
    }
    h1{
        margin-top: 75px;
        margin-bottom: 75px;
    }
    .rule-game{
        margin: 20px;
    }
    .result{
        font-size: 20px;
    }
    #result{
        margin: 20px;
    }
}

@media (min-width:700px) and (max-width:800px) and (max-height:1500px){
    .game-container{
        display: flex;
        flex-direction: column;
    }
    img{
        width: 200px;
        height: 200px;
    }
    h1{
        margin-top: 75px;
        margin-bottom: 75px;
    }
    .rule-game{
        margin: 20px;
    }
    #result{
        margin: 20px;
    }
    .result{
        font-size: 20px;
    }
}

@media (min-width:500px) and (max-width:800px) and (max-height:1500px){
    .game-container{
        display: flex;
        flex-direction: column;
    }
    img{
        width: 150px;
        height: 150px;
    }
    h1{
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .rule-game{
        margin: 15px;
    }
    #result{
        margin: 15px;
    }
    .result{
        font-size: 20px;
    }
}
@media (min-width:350px) and (max-width:550px) and (max-height:1000px){
    .game-container{
        display: flex;
        flex-direction: column;
    }
    img{
        width: 100px;
        height: 100px;
    }
    h1{
        margin-top: 40px;
    }
    .rule-game{
        margin-top: -40px;
        font-size: 18px;
    }
    .game-item{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .result{
        font-size: 18px;
    }
}
@media (min-width:100px) and (max-width:370px) and (max-height:1000px){
    .game-container{
        display: flex;
        flex-direction: column;
    }
    img{
        width: 80px;
        height: 80px;
    }
    h1{
        margin-top: 40px;
        font-size: 18px;
    }
    .rule-game{
        margin-top: -37px;
        font-size: 18px;
    }
    .game-item{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .result{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        /* margin-left: auto; */
    }
}